#conteudo {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.container flex {
    display: flex;
    height: 16%;
    margin-top: 8%;
    margin-left: 2.5%;
    text-align: center;
    font-size: 1em;
    flex-wrap: initial;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.quadrado {
    background-color: rgba(206, 201, 201, 0.795);
    margin: 15px;
    padding: 10px;
    border-radius: 3%;
    max-width: 250px;
    border: 1px solid #ccc;
}


/* --------------------   estilo dos check-box swith do formulario no cadastro de produtos  -------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.slider_checkbox {
    margin: 5px;
    float: left;
}

.segura_slider_checkbox {
    margin-top: 20px;
}

/* ----------------  manipula a barra de pesquisa -------*/
.pesquisa_focada {
    min-width: 350px;
    border-color: #2196F3;
}
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    min-width: 50px;
    background-color: #d3dadef1;
    /* #d3dadef1-> cor boa - (211, 218, 222, 0.486) -> outra cor boa  #d3dadebe -> outra boa */
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;

}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 350px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: black;
    text-decoration: none;
}





























/* -------------------- listagem de produtos  ---------------------  

#quadrado_produto {
    background-color: rgba(206, 201, 201, 0.795);
    margin: 20px;
    padding: 10px;
    border-radius: 3%;
    max-width: 250px;
    border: 1px solid #ccc;
}

#mostrar_produto {
    display: flex;
    height: 16%;
    margin-top: 8%;
    margin-left: 2.5%;
    text-align: center;
    font-size: 1em;
    flex-wrap: initial;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

*/


/* -------------------- listagem de usuário  ---------------------  

#quadrado_usuario {
    background-color: rgba(206, 201, 201, 0.795);
    margin: 20px;
    padding: 10px;
    border-radius: 3%;
    max-width: 250px;
    border: 1px solid #ccc;
}

#mostrar_usuario {
    display: flex;
    height: 16%;
    margin-top: 8%;
    margin-left: 2.5%;
    text-align: center;
    font-size: 1em;
    flex-wrap: initial;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

*/


/* -------------------- listagem de cliente  ---------------------  

#quadrado_cliente {
    background-color: rgba(206, 201, 201, 0.795);
    margin: 20px;
    padding: 10px;
    border-radius: 3%;
    max-width: 250px;
    border: 1px solid #ccc;
}

#mostrar_cliente {
    display: flex;
    height: 16%;
    margin-top: 8%;
    margin-left: 2.5%;
    text-align: center;
    font-size: 1em;
    flex-wrap: initial;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

*/